@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h2 {
	font-size: 100px;
	color: #2C7070;
	font-family: 'Poiret One';
	font-weight: 600;
}

body {
	text-align: center;
	background: url(../images/unit3digital.jpg);
	background-size: cover;
	color: #000000;
	font-size: 25px;
    top: 50%;
    width: 100%;
    font-family:'Righteous';
    line-height: 200%;
}

p4 {
	font-size: 35px;
	font-family:'Comfortaa', sans-serif;
	color: 2C7070;

}

images {
	vertical-align: middle;
}
p {
	font-style: normal;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
}
a {
	font-style: normal;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
}

ul {
	font-size: 18px;
	list-style-type: none;
	line-height: 0%;
}
