@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h2 {
	font-size: 100px;
	color: #2C7070;
	font-family: 'Poiret One';
	font-weight: 600;
	line-height: 350%;

}

body {
	text-align: center;
	background: url(../images/unit3digital.jpg);
	background-size: cover;
	color: #000000;
	font-size: 25px;
    top: 50%;
    width: 100%;
    font-family:'Comfortaa', sans-serif;
    line-height: 400%;
}

h4 {
	font-size: 35px;
	font-family:'Comfortaa', sans-serif;
	color: 2C7070;

}

images {
	vertical-align: middle;
}
p {
	font-style: normal;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	line-height: 250%;
}
a {
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	color: 2C7070;
	line-height: 250%;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	font-size: 16px;
	color: #000000;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid
	padding: 20px;
	font-size: 14px;
}
div / section {
	background-color: #FFE2B8;
	border: 1px black solid
	padding: 20px;
	font-size: 16px;
}

ul {
	list-style-type: none;
	line-height: 350%;
	font: bold;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}















