h1 {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
}
body {
	text-align: center;
	background: url(../images/unit3digital.jpg);
	background-size: cover;
	background-position: 0% 0%
	padding-top: 25px;
	color: #000000;
	font-family: Helvetica;
	margin: 0;
}
#cover {
	width: 1000px;
	height:500px;
	display: block;
	margin: 0 auto;
}
hr {
	width: 425px;
}
p1 {
	font-size: 22px;
}

p3 {
	font-size: 16px;
}

a {
	font-style: italic;
	color: #000000;
}
ul, menu, dir {
	list-style-type: none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start:30px;
}