h1 {
	text-align: center;
}
body {
	text-align: center;
	background: url(../images/project1.jpg);
	background-size: cover;
	color: #000000;
	font-family: sans-serif;
}
hr {
	width: 200px;
}
p1,p3 {
	font-size: 14px;
}
