h1 {
	text-align: center;
}
body {
	text-align: center;
	background: url(file:///Users/efsamouris/Desktop/efsamouris.github.io/unit_3/images/project.jpg);
	background-size: cover;
	color: #fff;
	font-family: sans-serif;
}
hr {
	width: 200px;
}
p1,p3 {
	font-size: 14px;
}
